.date-input {
    height: 2.4rem;
    width: 8rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    background: var(--color-input-background);
    padding-left: 0.5rem;
    font-weight: bold;
    margin-right: 0.5rem;
    border: 1px lightgray solid;
}

.date-input:hover {
    transition: border 0.2s ease-in-out;
    border: 1px solid darkgray;
}

.date-input:focus {
    background: white;
    outline: none;
    border: 2px solid var(--color-container-active);
}